@import './style/reset.css';
@import './style/fonts.css';

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: lightblue;
}
